*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ffc6b4), url(images/pexels-pok-rie-1432674.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.content-container {
    position: relative;
    z-index: 2;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{  
    width: 0px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffc6b4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff6969;
}

.header-text .title-color{
    color: #fff;
    font-size: 50px;
}
/*-- About Me Section--*/
#about{
    padding: 80px 0;
    color: #c0c0c0
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 59px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffc6b4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #faeec5;
    font-size: 17px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*-- Portfolio Section --*/
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 30px), 1fr));
    /* ensure that the grid only contains 3 work items per row */
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
/*
.work video {
        width: 100%; 
        height: 70vh; 
        display: block;
    }
*/
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ffc6b4);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff8a67;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;        
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.work:not(:nth-child(-n+3)) {
    display: none; /* Hide additional projects by default */
}

.expanded .work {
    display: block; /* Show all projects when expanded */
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ffc6b4;
}

/*-- Contact Section --*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ffc6b4;
    margin-right: 15px;
    font-size: 25px; 
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    margin-right: 30px;
    font-size: 30px;
    color: #ababab;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.social-icons a:hover{
    color: #ffc6b4;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ffc6b4;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background: #2e2e2e;
    border: 1px solid #ffc6b4;
    color: #fff;
    border-radius: 6px;
    resize: none;
}

form btn2{
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #1c1c1c;
    font-weight: 50;
    margin-top: 20px;
    font-size: 12px;
}

/*-- Fix responsiveness for different screen sizes --*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 800px){
    #header{
        background: linear-gradient(rgba(0,0,0,0.6), #ffc6b4), url(images/pexels-pok-rie-1432674.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #fcbe85;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 35px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        margin-right: 20px;
        font-size: 16px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

    .work-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* ensure that the grid only contains 1 work item per row */
        grid-gap: 40px;
        margin-top: 50px;
    }
}

#msg{
    color: #8df87a;
    margin-top: -10px;
    display: block;
}
